a:link, a:visited {
	text-decoration: none;
	color: #0077EE;
}
a:hover, a:active {
	text-decoration: underline;
}
.title {
	font-family: "Arial";
	font-size: 24px;
	color: #000066;
	font-weight: bold;
}
.subtitle {
	font-family: "Arial";
	font-size: 20px;
	color: #000066;
	font-weight: bold;
}
.date {
	font-family: "Times New Roman";
	font-size: 14px;
	font-weight: bold;
}
.text {
	font-family: "Times New Roman";
	line-height: 1.5;
	font-size: 18px;
}
.more {
	font-family: "Times New Roman";
	font-size: 18px;
	text-decoration: none;
	color: #EE3300;
}