<<<<<<< HEAD
a:link, a:visited {
	text-decoration: none;
	color: #0077EE;
}
a:hover, a:active {
	text-decoration: underline;
}
.title {
	font-family: "Arial";
	font-size: x-large;
	color: #000066;
	font-weight: bold;
}
.subtitle {
	font-family: "Arial";
	font-size: large;
	color: #000066;
	font-weight: bold;
}
.date {
	font-family: "Times New Roman";
	font-size: small;
	font-weight: bold;
}
.text {
	font-family: "Times New Roman";
}
.more {
	font-family: "Times New Roman";
	text-decoration: none;
	color: #EE3300;
}
=======
a:link, a:visited {
	text-decoration: none;
	color: #0077EE;
}
a:hover, a:active {
	text-decoration: underline;
}
.title {
	font-family: "Arial";
	font-size: x-large;
	color: #000066;
	font-weight: bold;
}
.subtitle {
	font-family: "Arial";
	font-size: large;
	color: #000066;
	font-weight: bold;
}
.date {
	font-family: "Times New Roman";
	font-size: small;
	font-weight: bold;
}
.text {
	font-family: "Times New Roman";
}
.more {
	font-family: "Times New Roman";
	text-decoration: none;
	color: #EE3300;
}
>>>>>>> 3be09d804c89f72406562979fecff6b855b12374
